#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
h1
{
    color:white;
}

body{
    background-color: aquamarine;
    font-family: cursive;
}

#footer{
    width: 100%;
    background-color: rgb(80, 164, 237);
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: cursive;
    padding: 5px;
}